apiVersion: integreatly.org/v1alpha1
kind: Grafana
metadata:
  name: grafana
spec:
  config:
    server:
      root_url: https://grafana-opf-monitoring.apps.odh-cl2.apps.os-climate.org
    auth.generic_oauth:
      api_url: https://dex-dex.apps.odh-cl2.apps.os-climate.org/userinfo
      auth_url: https://dex-dex.apps.odh-cl2.apps.os-climate.org/auth
      token_url: https://dex-dex.apps.odh-cl2.apps.os-climate.org/token
