apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
    - namespace.yaml
components:
    - ../../../../components/project-admin-rolebindings/operate-first
    - ../../../../components/project-admin-rolebindings/data-science
    - ../../../../components/project-admin-rolebindings/thoth
    - ../../../../components/resourcequotas/small
    - ../../../../components/limitranges/default
    - ../../../../components/monitoring-rbac
namespace: aicoe-meteor
