apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../base

configMapGenerator:
  - name: config
    files:
      - config=config.yaml

generators:
  - secret-generator.yaml

generatorOptions:
  disableNameSuffixHash: true
