apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
    - ../../common
    - ../../../../base/config.openshift.io/oauths/cluster
    - ../../../../base/core/namespaces/openshift-insights
    - ../../../../base/core/namespaces/openshift-monitoring
    - ../../../../base/core/namespaces/openshift-operators
    - ../../../../base/core/namespaces/openshift-storage
    - ../../../../base/core/namespaces/grok-micro
    - ../../../../base/operators.coreos.com/operatorgroups/openshift-local-storage-zj22x
    - ../../../../base/operators.coreos.com/operatorgroups/openshift-storage-24n7x
    - ../../../../base/operators.coreos.com/subscriptions/openshift-local-storage-operator
    - ../../../../base/operators.coreos.com/subscriptions/ocs-operator
    - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/cluster-admins-rb
    - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/sre
    - ../../../../base/user.openshift.io/groups/cluster-admins

generators:
    - secret-generator.yaml

patchesStrategicMerge:
    - oauths/cluster_patch.yaml
    - groups/cluster-admins.yaml
    - subscriptions/local-storage-operator_patch.yaml
    - subscriptions/ocs-operator_patch.yaml
