apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
    - namespace.yaml
components:
    - ../../../../components/project-admin-rolebindings/curator
    - ../../../../components/limitranges/default
    - ../../../../components/resourcequotas/medium
namespace: report-system
