apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
    - namespace.yaml
components:
    - ../../../../components/project-admin-rolebindings/thoth-devops
    - ../../../../components/limitranges/default
namespace: thoth-website-prod
