apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- ../../../../components/project-admin-rolebindings/wildfly
namespace: wildlfy-service
components:
- ../../../../components/limitranges/default
- ../../../../components/resourcequotas/small
