issuer: https://dex-dex.apps.odh-cl1.apps.os-climate.org

storage:
  type: memory

web:
  http: "0.0.0.0:5556"

grpc:
  addr: "0.0.0.0:5557"

telemetry:
  http: "0.0.0.0:5558"

oauth2:
  skipApprovalScreen: true
  alwaysShowLoginScreen: false
  responseTypes: ["code", "token", "id_token"]

staticClients:
  - id: superset
    name: Superset
    redirectURIs:
      - http://superset-odh-superset.apps.odh-cl1.apps.os-climate.org/oauth-authorized/dex
      - https://superset-secure-odh-superset.apps.odh-cl1.apps.os-climate.org/oauth-authorized/dex
      - http://superset-secure-odh-superset.apps.odh-cl1.apps.os-climate.org/oauth-authorized/dex
    secretEnv: SUPERSET_SECRET

  - id: trino
    name: Trino
    redirectURIs:
      - https://trino-secure-odh-trino.apps.odh-cl1.apps.os-climate.org/oauth2/callback
      - https://trino-route-odh-trino.apps.odh-cl1.apps.os-climate.org/oauth2/callback
    secretEnv: TRINO_SECRET

  - id: trino-dev
    name: Trino
    redirectURIs:
      - https://trino-secure-odh-trino-dev.apps.odh-cl1.apps.os-climate.org/oauth2/callback
      - https://trino-route-odh-trino-dev.apps.odh-cl1.apps.os-climate.org/oauth2/callback
    secretEnv: TRINO_DEV_SECRET

  - id: das
    name: Dex Auth Service
    redirectURIs:
      - https://das-odh-trino.apps.odh-cl1.apps.os-climate.org/callback
    secretEnv: DAS_SECRET

  - id: grafana
    name: Grafana
    redirectURIs:
      - https://grafana-opf-monitoring.apps.odh-cl1.apps.os-climate.org/login/generic_oauth
      - http://grafana-opf-monitoring.apps.odh-cl1.apps.os-climate.org/login/generic_oauth
    secretEnv: GRAFANA_SECRET

  - id: openmetadata-airflow
    name: openmetadata-airflow
    redirectURIs:
      - http://airflow-openmetadata.apps.odh-cl1.apps.os-climate.org/oauth-authorized/dex
    secretEnv: OPENMETADATA_AIRFLOW_SECRET

expiry:
  idTokens: "168h"

connectors:
  - type: openshift
    id: openshift
    name: OpenShift
    config:
      issuer: https://kubernetes.default.svc
      clientID: system:serviceaccount:dex:dex
      clientSecret: $OPENSHIFT_CLIENT_SECRET
      redirectURI: https://dex-dex.apps.odh-cl1.apps.os-climate.org/callback
      groups:
        - system:authenticated
