apiVersion: kustomize.config.k8s.io/v1beta1
components:
- ../../../../components/project-admin-rolebindings/operate-first
- ../../../../components/project-admin-rolebindings/odh-admin
- ../../../../components/monitoring-rbac
- ../../../../components/odh-dashboard
- ../../../../components/limitranges/default
- ../../../../components/resourcequotas/x-small
kind: Kustomization
namespace: opf-argo
resources:
- namespace.yaml
