---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../common

  - ../../../../base/apiextensions.k8s.io/customresourcedefinitions/applications.argoproj.io
  - ../../../../base/apiextensions.k8s.io/customresourcedefinitions/appprojects.argoproj.io
  - ../../../../base/config.openshift.io/oauths/cluster
  - ../../../../base/core/namespaces/acm
  - ../../../../base/core/namespaces/acme-operator
  - ../../../../base/core/namespaces/democratic-csi
  - ../../../../base/core/namespaces/keycloak
  - ../../../../base/core/namespaces/opf-alertreceiver
  - ../../../../base/operator.openshift.io/ingresscontrollers/default
  - ../../../../base/operators.coreos.com/operatorgroups/keycloak
  - ../../../../base/operators.coreos.com/operatorgroups/operator-acm-group
  - ../../../../base/operators.coreos.com/subscriptions/acm-operator-subscription
  - ../../../../base/operators.coreos.com/subscriptions/rhsso-operator
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/acme-operator
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/argocd-application-controller
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/argocd-manager
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/argocd-server
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/sre
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/cluster-admins-rb
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/moc-nfs-democratic-csi-controller-rb
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/moc-nfs-democratic-csi-node-rb
  - ../../../../base/rbac.authorization.k8s.io/clusterroles/acme-operator
  - ../../../../base/rbac.authorization.k8s.io/clusterroles/argocd-application-controller
  - ../../../../base/rbac.authorization.k8s.io/clusterroles/argocd-events-create-aggregate-to-admin
  - ../../../../base/rbac.authorization.k8s.io/clusterroles/argocd-proj-apps-aggregate-to-admin
  - ../../../../base/rbac.authorization.k8s.io/clusterroles/argocd-server
  - ../../../../base/rbac.authorization.k8s.io/clusterroles/moc-nfs-democratic-csi-controller-cr
  - ../../../../base/rbac.authorization.k8s.io/clusterroles/moc-nfs-democratic-csi-node-cr
  - ../../../../base/storage.k8s.io/csidrivers/org.democratic-csi.nfs
  - ../../../../base/storage.k8s.io/storageclasses/moc-nfs-csi
  - ../../../../base/user.openshift.io/groups/cluster-admins

  # install cnv for nmstate support in 4.6
  - ../../../../base/core/namespaces/openshift-cnv
  - ../../../../base/operators.coreos.com/operatorgroups/openshift-cnv-rn5jf
  - ../../../../base/operators.coreos.com/subscriptions/kubevirt-hyperconverged

  - clusterversion.yaml
  - crc-provisioning-vlan.yaml
  - kubeletconfigs/increase-worker-system-reserved-memory.yaml
  - metal3.io/provisionings/provisioning-configuration.yaml
  - nodenetworkconfigurationpolicies/moc-nfs-network.yaml
  - ocp-prod-provisioning-vlan.yaml
  - zero-provisioning-vlan.yaml

generators:
  - secret-generator.yaml

patchesStrategicMerge:
  - oauths/cluster_patch.yaml
  - storageclasses/moc-nfs-csi_patch.yaml
  - subscriptions/kubevirt-hyperconverged_patch.yaml
