---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../common
  - ../../../../bundles/klusterletaddonconfig-editor/
  - ../../../../base/core/configmaps/cluster-monitoring-config
  - ../../../../base/core/configmaps/user-workload-monitoring-config
  - ../../../../base/core/namespaces/acm
  - ../../../../base/core/namespaces/democratic-csi
  - ../../../../base/core/namespaces/keycloak
  - ../../../../base/core/namespaces/openshift-cnv
  - ../../../../base/core/namespaces/openshift-logging
  - ../../../../base/core/namespaces/openshift-nmstate
  - ../../../../base/core/namespaces/opf-alertreceiver
  - ../../../../base/core/namespaces/vault
  - ../../../../base/nmstate.io/nmstates/nmstate
  - ../../../../base/operator.openshift.io/ingresscontrollers/default
  - ../../../../base/operators.coreos.com/operatorgroups/keycloak
  - ../../../../base/operators.coreos.com/operatorgroups/openshift-nmstate
  - ../../../../base/operators.coreos.com/operatorgroups/operator-acm-group
  - ../../../../base/operators.coreos.com/subscriptions/acm-operator-subscription
  - ../../../../base/operators.coreos.com/subscriptions/cert-manager
  - ../../../../base/operators.coreos.com/subscriptions/cluster-logging
  - ../../../../base/operators.coreos.com/subscriptions/kubernetes-nmstate-operator
  - ../../../../base/operators.coreos.com/subscriptions/rhsso-operator
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/cluster-reader-k8s-annotations-exporter
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/moc-nfs-democratic-csi-controller-rb
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/moc-nfs-democratic-csi-node-rb
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/open-cluster-management:admin:osc-cl1
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/open-cluster-management:managedclusterset:admin:octo-ushift-dev
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/open-cluster-management:managedclusterset:admin:osc
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/apirequest-count-reader
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/vault
  - ../../../../base/rbac.authorization.k8s.io/clusterroles/moc-nfs-democratic-csi-controller-cr
  - ../../../../base/rbac.authorization.k8s.io/clusterroles/moc-nfs-democratic-csi-node-cr
  - ../../../../base/rbac.authorization.k8s.io/clusterroles/apirequest-count-read-cr
  - ../../../../base/storage.k8s.io/csidrivers/org.democratic-csi.nfs
  - ../../../../base/storage.k8s.io/storageclasses/moc-nfs-csi
  - ../../../../base/user.openshift.io/groups/cluster-admins
  - ../../../../bundles/acme-operator
  - ../../../../bundles/idp-mgmt-operator
  - apiserver/api_server_cert.yaml
  - clusterversion.yaml
  - nodenetworkconfigurationpolicies/crc-provisioning-vlan.yaml
  - kubeletconfigs/increase-worker-system-reserved-memory.yaml
  - metal3.io/provisionings/provisioning-configuration.yaml
  - nodenetworkconfigurationpolicies/moc-nfs-network.yaml
  - nodenetworkconfigurationpolicies/ocp-prod-provisioning-vlan.yaml
  - nodenetworkconfigurationpolicies/zero-provisioning-vlan.yaml

generators:
  - secret-generator.yaml

patchesStrategicMerge:
  - storageclasses/moc-nfs-csi_patch.yaml
  - subscriptions/cluster-logging-operator_patch.yaml
  - subscriptions/kubernetes-nmstate-operator_patch.yaml
  - groups/cluster-admins.yaml
  - clusterrolebindings/self-provisioners_patch.yaml
