---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../common
  - ../../../../bundles/klusterletaddonconfig-editor/
  - ../../../../base/core/configmaps/cluster-monitoring-config
  - ../../../../base/core/configmaps/user-workload-monitoring-config
  - ../../../../base/core/namespaces/acm
  - ../../../../base/core/namespaces/open-cluster-management-observability
  - ../../../../base/core/namespaces/openshift-cnv
  - ../../../../base/core/namespaces/openshift-logging
  - ../../../../base/core/namespaces/openshift-nmstate
  - ../../../../base/core/namespaces/opf-alertreceiver
  - ../../../../base/core/namespaces/vault
  - ../../../../base/core/namespaces/web-terminal-service-catalog
  - ../../../../base/core/serviceaccounts/service-catalog-prometheus-plugin
  - ../../../../base/nmstate.io/nmstates/nmstate
  - ../../../../base/operator.openshift.io/ingresscontrollers/default
  - ../../../../base/operators.coreos.com/operatorgroups/openshift-nmstate
  - ../../../../base/operators.coreos.com/operatorgroups/operator-acm-group
  - ../../../../base/operators.coreos.com/subscriptions/acm-operator-subscription
  - ../../../../base/operators.coreos.com/subscriptions/cluster-logging
  - ../../../../base/operators.coreos.com/subscriptions/kubernetes-nmstate-operator
  - ../../../../base/operators.coreos.com/subscriptions/web-terminal
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/apirequest-count-reader
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/cluster-reader-k8s-annotations-exporter
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/open-cluster-management:admin:osc-cl1
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/open-cluster-management:managedclusterset:admin:drvbw
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/open-cluster-management:managedclusterset:admin:osc
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/service-catalog-k8s-plugin-acm
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/service-catalog-prometheus-plugin
  - ../../../../base/rbac.authorization.k8s.io/clusterrolebindings/vault
  - ../../../../base/rbac.authorization.k8s.io/clusterroles/apirequest-count-read-cr
  - ../../../../base/rbac.authorization.k8s.io/clusterroles/service-catalog-k8s-plugin-acm
  - ../../../../base/user.openshift.io/groups/cluster-admins
  - ../../../../bundles/acme-operator
  - ../../../../bundles/cert-manager
  - ../../../../bundles/external-secrets-operator
  - ../../../../bundles/idp-mgmt-operator
  - ../../../../bundles/odf-external
  - apiserver/api_server_cert.yaml
  - configmaps/service-catalog-k8s-plugin.yaml
  - configmaps/thanos-ruler-custom-rules.yaml
  - configmaps/observability-metrics-custom-allowlist.yaml
  - clusterversion.yaml
  - externalsecrets
  - kubeletconfigs/increase-worker-system-reserved-memory.yaml
  - metal3.io/provisionings/provisioning-configuration.yaml
  - multiclusterobservability/observability.yaml
  - nodenetworkconfigurationpolicies/ocp-prod-provisioning-vlan.yaml
  - nodenetworkconfigurationpolicies/vlan-211-nese.yaml
  - nodenetworkconfigurationpolicies/zero-provisioning-vlan.yaml
  - nodes/os-ctrl-0.moc-infra.massopen.cloud.yaml
  - nodes/os-ctrl-1.moc-infra.massopen.cloud.yaml
  - nodes/os-ctrl-2.moc-infra.massopen.cloud.yaml
  - oauth
  - objectbucketclaims/thanos.yaml
  - secrets
  - secret-mgmt
  - storageclasses/ocs-external-storagecluster-ceph-rbd.yaml
generators:
  - secret-generator.yaml

patchesStrategicMerge:
  - subscriptions/cluster-logging-operator_patch.yaml
  - subscriptions/kubernetes-nmstate-operator_patch.yaml
  - subscriptions/odf-operator_patch.yaml
  - subscriptions/web-terminal_patch.yaml
  - groups/cluster-admins.yaml
  - clusterrolebindings/self-provisioners_patch.yaml
  - clusterrolebindings/klusteraddonconfig-editor.yaml
  - consoles/cluster_patch.yaml
