---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: loki-distributor
spec:
  to:
    kind: Service
    name: opf-observatorium-loki-distributor-http
  port:
    targetPort: metrics


---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: loki-frontend
spec:
  to:
    kind: Service
    name: opf-observatorium-loki-query-frontend-http
  port:
    targetPort: metrics
