connectors:
  # OpenShift
  - type: openshift
    id: openshift
    name: OpenShift
    config:
      issuer: https://kubernetes.default.svc
      clientID: system:serviceaccount:argocd-dev:argocd-dex-server
      clientSecret: $DEX_OAUTH_CLIENT_SECRET
      insecureCA: true
      groups:
        - dev-group