connectors:
  # OpenShift
  - type: openshift
    id: openshift
    name: OpenShift
    config:
      issuer: https://kubernetes.default.svc
      clientID: system:serviceaccount:argocd:argocd-dex-server
      clientSecret: $DEX_OAUTH_CLIENT_SECRET
      insecureCA: true
      groups:
        - apicurio
        - argocd-admins
        - b4mad
        - thoth
        - operate-first
        - data-science
        - rekor
        - lab-cicd
        - mesh-for-data
        - workshops