connectors:
  # OpenShift
  - type: openshift
    id: openshift
    name: OpenShift
    config:
      issuer: https://kubernetes.default.svc
      clientID: system:serviceaccount:argocd:argocd-dex-server
      clientSecret: $DEX_OAUTH_CLIENT_SECRET
      insecureCA: true
      groups:
        - apicurio
        - argocd-admins
        - argocd-readonly
        - b4mad
        - chris-project
        - copilot-ops
        - data-science
        - fybrik
        - kepler-admins
        - lab-cicd
        - octo-ushift-dev
        - operate-first
        - osc-admins
        - rekor
        - thoth
        - tremor-demo
        - workshops
