apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- resourcequota.yaml
- ../../../../components/project-admin-rolebindings/ai4cloudops
namespace: ai4cloudops
components:
- ../../../../components/limitranges/default
