# the current OS-Climate data commons trino deployment on the dev cluster
admin:
  - group: admins

# global default is non-public (no read/select access)
public: false

catalogs:
  - catalog: system
    public: true

  - catalog: osc_datacommons_dev
    public: true

  - catalog: osc_datacommons_hive_ingest
    public: true

  - catalog: riskthinking
    public: true

schemas:
  - schema: sandbox
    catalog: osc_datacommons_dev
    admin:
      - group: '.*'
    public: true

  - schema: demo_dv
    catalog: osc_datacommons_dev
    admin:
      - group: '.*'
    public: true

  - schema: pcaf_sovereign_footprint
    catalog: osc_datacommons_dev
    admin:
      - group: 'pcaf_sovereign_footprint.*'
    public: true

  - schema: rmi
    catalog: osc_datacommons_dev
    admin:
      - user: 'MichaelTiemannOSC'
    public: true

  - schema: aicoe_osc_demo_results
    catalog: osc_datacommons_dev
    admin:
      - group: 'aicoe_osc_demo'
    public: true

  - schema: mdt_sandbox
    catalog: osc_datacommons_dev
    admin:
      - user: 'MichaelTiemannOSC'
    public: true

  - schema: ingest
    catalog: osc_datacommons_hive_ingest
    admin:
      - group: hive_ingest
    public: false

  - schema: riskthinking_osclimate_big_query
    catalog: riskthinking
    admin:
      - group: admins
    public: true

  - schema: wri_gppd
    catalog: osc_datacommons_dev
    admin:
      - group: 'wri_gppd_admin'
    public: true

  - schema: essd
    catalog: osc_datacommons_dev
    admin:
      - group: 'essd_admin'
    public: true

  - schema: dera
    catalog: osc_datacommons_dev
    admin:
      - group: 'dera_admin'
    public: true

tables:
  - table: demo_dv_backend
    schema: demo_dv
    catalog: osc_datacommons_dev
    admin:
      - group: demo_dv_dev
    public: false

  - table: demo_dv_userfacing
    schema: demo_dv
    catalog: osc_datacommons_dev
    admin:
      - group: demo_dv_dev
    public: false
    acl:
      - id:
        - group: demo_dv_quant
        hide: [dev1]
        filter: ["contains(current_groups(), access) or access = 'public'"]
      - id:
        - group: demo_dv_user
        hide: [dev1, quant1]
        filter: ["contains(current_groups(), access) or access = 'public'"]

  - table: gppd
    schema: sandbox
    catalog: osc_datacommons_dev
    admin:
      - group: demo_dv_dev
    public: false
    acl:
      - id:
        - group: demo_dv_user
        filter: ["observation_year <= 2017"]
        hide: [capacity_mw]
