---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/instance: observatorium
  app.kubernetes.io/part-of: observatorium
  app.kubernetes.io/name: thanos
resources:
  - query
  - query-frontend
  - receive
  - receive-controller
  - store
  - store-bucket-cache
  - store-index-cache
