---
apiVersion: integreatly.org/v1alpha1
kind: Grafana
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  name: grafana
spec:
  deployment:
    labels:
      app.kubernetes.io/name: grafana-oauth
    envFrom:
      - secretRef:
          name: oauth-client-secret
      - secretRef:
          name: grafana-secret-config
      - configMapRef:
          name: grafana-config-overrides
  configMaps:
    - grafana-landing-page
  serviceAccount:
    labels:
      app.kubernetes.io/instance: cluster-resources-smaug
  config:
    server:
      root_url: https://grafana.operate-first.cloud
    dashboards:
      default_home_dashboard_path: "/etc/grafana-configmaps/grafana-landing-page/landingpage.json"
    auth.generic_oauth:
      enabled: true
      scopes: openid email groups profile
      email_attribute_path: name
      client_id: grafana
      client_secret: "${GRAFANA_CLIENT_SECRET}"
      api_url: https://dex-dex.apps.smaug.na.operate-first.cloud/userinfo
      auth_url: https://dex-dex.apps.smaug.na.operate-first.cloud/auth
      token_url: https://dex-dex.apps.smaug.na.operate-first.cloud/token
      role_attribute_path: >-
        contains(groups[*], 'cluster-admins') && 'Admin' ||
        contains(groups[*], 'operate-first')  && 'Admin' ||
        contains(groups[*], 'neu-students')   && 'Editor' ||
        contains(groups[*], 'sre')            && 'Editor' ||
        contains(groups[*], 'logs-insights')  && 'Editor' ||
        contains(groups[*], 'data-science')   && 'Viewer' ||
        contains(groups[*], 'curator')        && 'Editor' ||
        contains(groups[*], 'thoth')          && 'Editor' ||
        contains(groups[*], 'opf-alerting')          && 'Admin' ||
        contains(groups[*], 'grafana-viewer')   && 'Viewer' ||
        contains(groups[*], 'grafana-editor')   && 'Editor' ||
        contains(groups[*], 'scsaol')   && 'Viewer' ||
        contains(groups[*], 'apicurio') && 'Editor' ||
        'Deny'
      role_attribute_strict: true
