apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: koku-metrics-operator
resources:
    - namespace.yaml
components:
    - ../../../../components/project-admin-rolebindings/operate-first
    - ../../../../components/project-admin-rolebindings/curator
    - ../../../../components/limitranges/default
    - ../../../../components/resourcequotas/large
