---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kubeflow-tekton-view
rules:
  - verbs:
      - get
      - list
      - create
      - watch
      - patch
    apiGroups:
      - ''
    resources:
      - pods
  - verbs:
      - get
      - list
      - watch
    apiGroups:
      - ''
    resources:
      - secrets
      - limitranges
      - serviceaccounts
